.page-title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.page-centered {
  text-align: center;
}

.title-icon {
  padding-right: 10px;
}

.page-spinner {
  margin-top: 20%;
  margin-left: 45%;
}

.channelpage-spinner {
  margin-top: 20%;
  margin-left: 45%;
  padding-bottom: 200px;
}
