.site-navbar {
  height: 79px;
  border-bottom: 1px solid white; /* added this */
  background-color: #2f3237;
  /* 
  background-color: #3f3d56; 
   */
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-tracker,
.nav-trackers {
  color: white;
}

.nav-tracker:hover {
  color: inherit;
}

.nav-items {
  margin-left: 25px;
  width: 95%;
  height: 100%;
}

.nav-elements {
  width: 210px;
}

.nav-user,
.nav-help {
  padding-top: 3px;
}

.nav-user:hover,
.nav-help:hover {
  opacity: 0.8;
}

.navbar-logo {
  width: 180px !important;
  height: 45px !important;
}

#sign-in-btn,
#sign-up-btn {
  color: white;
  background-color: #36393f;
}

#sign-in-btn:hover,
#sign-up-btn:hover {
  opacity: 0.9;
}
