.message-header {
  font-size: 14px;
  font-style: italic;
  width: 100%;
}

.delete-msg-btn,
.edit-msg-btn,
.confirm-edit-btn,
.cancel-edit-btn {
  font-size: 30px;
  cursor: pointer;
  padding-right: 5px;
}

.confirm-edit-btn,
.cancel-edit-btn {
  font-size: 35px;
}

.delete-msg-btn:hover,
.edit-msg-btn:hover,
.confirm-edit-btn:hover,
.cancel-edit-btn:hover {
  opacity: 0.8;
}

.confirm-edit-btn {
  background: none;
  border: none;
  color: white;
}

.message-avatar,
.message-username,
.message-time,
.message-dot {
  padding-left: 5px;
}

.message-body,
.message-img,
.message-video,
.message-gif {
  padding-left: 5px;
  padding-bottom: 5px;
}

.message-body {
  word-wrap: break-word;
  padding-right: 5px;
  font-size: 18px;
}

.message-video-iframe {
  width: 440px;
  height: 280px;
}

.message-img-file {
  width: 440px;
  height: 280px;
}

.message-avatar-img {
  margin-bottom: 9px;
  width: 45px;
  height: 45px;
  border-radius: 30px;
}

.message-avatar-img:hover {
  opacity: 0.8;
}

.message-body-edit {
  width: 100%;
}

.placeholder-avatar-img:hover {
  opacity: 0.5;
}
