html {
  background-color: #2f3237 !important;
}

.app-page {
  /* border-left: 1px solid black; */
  background-color: #36393f;
  /* 
    background-color: #54526d;
  */
  color: white; /* added this */
}

@media only screen and (min-width: 576px) {
  .page-display {
    border-left: none;
    min-height: 654px;
  }
}

@media only screen and (min-width: 992px) {
  .page-display {
    /* border-left: 1px solid black; */
    min-height: 674px;
  }
}
