.message-text-input {
  margin-top: 2px;
  min-height: 65px;
  max-height: 250px;
  width: 100%;
}

.main-input {
  padding: 11px 0 0 4px !important;
}

.create-message-form {
  height: 95px;
  margin-bottom: 0 !important;
  background-color: #232529;
  border: 1p solid black;
}

.message-post-btn {
  background: none;
  border: none;
  margin: 0;
  padding-left: 5px;
  cursor: pointer;
  font-size: 40px;
  color: darkblue;
}

.extra-input-btn {
  cursor: pointer;
  padding-left: 18px;
  font-size: 40px;
}

.extra-input-btn:hover,
.message-post-btn:hover {
  opacity: 0.8;
}

.extra-inputs {
  padding-top: 15px;
  margin-bottom: 12px;
}

.video-input {
  width: 90%;
}

.remove-link-btn {
  margin-top: 10px;
}

.search-gif {
  border: 1px solid black;
}

.search-gif,
.search-suggestion,
.search-carousel {
  margin-top: 1px;
}

.create-message {
  position: sticky !important;
  bottom: 0 !important;
  border: 1px solid white;
}
