.home-info {
  font-size: 26px;
}

.home-user {
  margin-top: 60px;
  font-size: 20px;
}

.med-margin-top {
  margin-top: 85px;
}

.homepage-app-info {
  font-size: 28px;
  padding-bottom: 25px;
}

.top-row-homepage {
  padding-top: 30px;
}

.homepage-title-name,
.create-server-homepage,
.homepage-help-text,
.homepage-profile-text {
  color: white;
}

.border-right {
  border-right: 3px solid white;
}

.homepage-chat,
.arrow-left {
  font-size: 26px;
}

.homepage-join {
  font-size: 16px;
  padding-top: 16px;
}

.border-top {
  border-top: 1px solid white;
}

.small-margin-top {
  margin-top: 35px;
}
