.home-info {
  font-size: 26px;
}

.home-user {
  margin-top: 60px;
  font-size: 20px;
}

.arrow-left {
  padding-right: 40px;
  display: inline-block;
}

.arrow-right {
  padding-left: 40px;
  display: inline-block;
}

.med-padding-top {
  padding-top: 85px;
}

.homepage-app-info {
  font-size: 28px;
  padding-bottom: 25px;
}

.top-row-homepage {
  padding-top: 30px;
}
