.channel-message {
  border: 1px solid black;
  max-height: 400px;
}

.message-info {
  font-size: 14px;
  font-style: italic;
  padding-bottom: 15px;
  width: 300px;
}

.message-avatar {
  font-size: 45px;
}
