.message-header {
  font-size: 14px;
  font-style: italic;
  padding-bottom: 15px;
  width: 100%;
}

.edit-msg-btn {
  font-size: 25px;
  cursor: pointer;
}

.delete-msg-btn {
  font-size: 25px;
  cursor: pointer;
}
