.channel-message {
  border: 1px solid white;
  border-top: none;
  background-color: #2f3237;
}
.message-page {
  border-top: 1px solid white;
  min-height: 579px;
}

.message-avatar {
  font-size: 45px;
}

.load-more-messages-btn {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.massage-body-edit {
  width: 100%;
  min-height: 150px;
  max-height: 250px;
}
