.site-navbar {
  height: 79px;
  border-bottom: 1px solid white; /* added this */
  background-color: #2f3237;
  /* 
  background-color: #3f3d56; 
   */
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-items {
  margin-left: 25px;
  width: 95%;
  height: 100%;
}

.nav-elements {
  width: 210px;
}

.nav-user,
.nav-help {
  padding-top: 3px;
}

.navbar-logo {
  height: 200px;
  padding-bottom: 20px;
}

#sign-in-btn,
#sign-up-btn {
  color: white;
  background-color: #36393f;
}
