.server-data {
  text-align: center;
}

.server-edit {
  font-size: 26px;
  cursor: pointer;
}

.server-info-edit {
  width: 50%;
  height: 150px;
}

.server-placeholder-img {
  font-size: 55px;
}

.server-info {
  font-size: 28px;
}
