.server-data {
  text-align: center;
}

.server-edit {
  font-size: 26px;
  cursor: pointer;
}

.server-info-edit {
  height: 300px;
  width: 100%;
}

.server-placeholder-img {
  font-size: 55px;
}

.server-info {
  font-size: 28px;
  word-wrap: break-word;
}

.server-padding-top {
  padding-top: 25px;
}

.server-app-info {
  padding-top: 30px;
  font-size: 32px;
}

.server-app-info-edit {
  font-size: 32px;
}

.server-info-edit {
  font-size: 30px;
}
