.side-nav {
  max-width: 380px;
  text-align: center;
}

.fixed-nav {
  position: fixed;
}

.chevron-btn {
  display: inline;
}

.chevron-btn {
  cursor: pointer;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}
