.side-nav-container {
  border-right: 1px solid white;
  background-color: #2f3237; /* added this */
  /* 
  background-color: #3f3d56; 
 */
  padding: 0 !important;
}

.side-nav {
  text-align: center;
  /* max-width: 380px; */
  font-size: 24px;
  left: 0;
}

.fixed-nav {
  position: sticky !important;
  top: 70px !important;
}

.chevron-btn {
  display: inline;
}

.chevron-btn {
  cursor: pointer;
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
}

.servers-title,
.channels-title {
  color: white;
  border-bottom: 1px solid white;
}

.server-item,
.channel-item {
  padding-top: 4px;
  border-bottom: 1px solid white;
  word-wrap: break-word;
}

.server-feed-add-server,
.channel-feed-add-channel {
  display: inline-block;
}

.server-feed-nav-elements,
.channel-feed-nav-elements {
  padding-top: 10px;
}

.server-sidenav-img {
  border-radius: 50%;
  border: 2px solid #f50057;
  width: 75px;
  height: 75px;
}

.server-img-container {
  color: #f50057;
}

.server-name {
  color: white;
}

/* .server-feed-item:hover {
  color: white !important;
  background-color: white !important;
} */
