.side-nav-container {
  border-right: 1px solid black;
  padding: 0 !important;
}

.side-nav {
  text-align: center;
  max-width: 380px;
  font-size: 24px;
  left: 0;
}

.fixed-nav {
  position: sticky !important;
  top: 70px !important;
}

.chevron-btn {
  display: inline;
}

.chevron-btn {
  cursor: pointer;
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
}

.servers-title,
.channels-title {
  border-bottom: 1px solid black;
}

.server-item,
.channel-item {
  padding-top: 4px;
  border-bottom: 1px solid black;
  word-wrap: break-word;
}

.server-feed-add-server,
.channel-feed-add-channel {
  display: inline-block;
}

.server-feed-nav-elements,
.channel-feed-nav-elements {
  padding-top: 10px;
}
