.user-bio {
  text-align: left;
  width: 90%;
  font-size: 24px;
}

.user-edit {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-btn {
  margin-left: 5px;
}

.user-activity {
  font-size: 24px;
  font-style: italic;
}

.user-bio-edit {
  width: 90%;
  height: 150px;
  font-size: 24px !important;
}

.user-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid black;
}

.user-placeholder-img {
  font-size: 55px;
}

.delete-user-btn {
  margin-top: 10px;
}

.user-margin-top {
  margin-top: 10px;
}

.user-image-edit {
  width: 40% !important;
}

.user-title {
  font-size: 34px;
  text-decoration: underline;
}

.user-info {
  margin-left: 25px;
}
